<h1>Hello</h1>

<% @articles.each_with_index do |val, index| %>
  <ul>
    <h2><%= val[:title] %></h2>
    <p><%= val[:content] %></p>
    <img src="<%=val[:photo] %>">
    <p><%= val[:rating] %></p>
    <% @comments[index].each do |val| %>
      <ul>
        <li><span><%= val %></span></li>
      </ul>
    <% end%>
  </ul>
<% end%>
